@use "./../../styles/variables";

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin: 0 auto;
  padding: variables.$general-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
