.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff0000;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 0 #57575777;
}

.favorite-button {
  position: absolute;
  left: 0;
  bottom: -45px;
}

.artwork {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  gap: 8px;
  padding: 5px 3px;
  border-bottom: 2px #000000 solid;

  &__images {
    position: relative;
  }

  &__picture {
    object-fit: contain;
    align-self: center;
    background-color: #ececec53;
    min-width: 337px;
    min-height: 242px;
  }

  &__bottom {
    text-align: end;
    font-size: 1.5rem;
  }
}
